PORT=3000
CONTENTFUL_SPACE_ID="<contentful-space-id>"
CONTENTFUL_ACCESS_TOKEN="<contentful-access-token>"
CONTENTFUL_ENVIRONMENT="<contentful-environment>"
CONTENTFUL_CONTENT_TYPE="<contentful-content-type>"
DATABASE_URL="postgresql://user:password@localhost:5432/mydatabase"