PORT=3000
CONTENTFUL_SPACE_ID="<contentful-space-id>"
CONTENTFUL_ACCESS_TOKEN="<contentful-access-token>"
CONTENTFUL_ENVIRONMENT="<contentful-environment>"
CONTENTFUL_CONTENT_TYPE="<contentful-content-type>"
# for docker compose rename the service name from localhost to postgres
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/apply-digital"
JWT_SECRET="apply-digital-secret"